<!doctype html>
<html>
   <body>
         <p>로고 &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp 건물검색 <input type = "text" name = "Name" /><input type = "submit" value = "search">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 지름길찾기   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   건물운영시간<br><br></p>
        
        
<p> <p style="text-align:right;">
UI &nbsp <input type = "submit" value = "식당"">
<input type = "submit" value = "편의점">  
<input type = "submit" value = "복사기"> 
<input type = "submit" value = "무인발급기"></p>
     
         
      
   </body>
   
</html>
